<p id="notice"><%= notice %></p>

<!-- <h1>Listing Contents</h1> -->

 <div class="row">
  <% @contents.each do |content| %>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <%= image_tag content.copertina.url %>
        </div>
        <div class="card-content">
          <span class="card-title activator"><%= content.title %></span>
          <p class="tagline"><%= content.tagline %></p>
        </div>
        <div class="card-content">
          <span>By <%= content.user.name %></span>
          <br>
          <span class:"left"><%= number_to_currency(content.price) %></span>
        </div>
        <div class="card-action">
          <div class="center-align"><%= link_to 'Show More', content, class: "btn btn-devise waves-effect waves-light blue accent-3" %></div>
          <% if content.user == current_user %>
          <br>
            <div class="center-align">
              <%= link_to 'Edit', edit_content_path(content), class: "blue-text text-accent-3"%>
              <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' }, class: "red-text" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="pag center">
  <%= will_paginate @contents, renderer: MaterializePagination::Rails %>
</div>