<div class="row">
  <div class="col l6 offset-l3">
    <div class="panel-reg">
      <h4 class="center blue-text text-accent-3">Sign up</h4>

      <br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-devise waves-effect waves-light blue accent-3" %>
      </div>

      <br>

    <% end %>

    <%= render "devise/shared/links" %>

    </div>

  </div>
</div>


