<section id="contact">
	<div class="wrapper">
		<h1 class="blue-text text-accent-3"><b>Get in touch</b></h1>
		<h5 class="smallp">Got any promblem or question about how the site works?</h5>
		<br>
		<br>
		<a href="#" class="btn waves-effect waves-light blue accent-3">Contact Us</a>
	</div>
</section>