<section id="how_it_work">
	<div class="wrapper">
		<h1 class="center white-text hiw-"><b>How it works</b></h1>
		<h5 class="center white-text">(For Startup)</h5>
		<br>
		<br>
		<div class="Post_a_project left-align">
		    <h3 class="white-text left-align"><b>Post your project</b></h3>
		    <h5 class="white-text left-align hiw-descr">Post your idea to site and be sure that only investors can see it.<br> To post a project you have to: <br>
		    <ol class="bullet-list-hiw">
			  <li>Sign Up</li>
			  <li>Click 'Post a Project'</li>
			  <li>Fill the form</li>
			  <li>Click create</li>
			</ol>
			And your are done!</h5>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col l3 offset-l1">
				<div class="img-answer">
					<%= image_tag("rocket.png") %>
				</div>
			</div>
			<div class="col l5 offset-l3">
				<div class="wait-answer">
				    <h3 class="white-text"><b>Wait for investor to<br> contact you</b></h3>
				    <h5 class="white-text hiw-descr">After you posted your project investors will be able to see it in their dashboard. They will see it and if they like it they will contact you</h5>
				    <h4 class="white-text"><b>-	How can they contact me?</b></h4>
				    <h5 class="white-text hiw-descr">They can contact you with one of this three method: <br>
				    <ol class="bullet-list-hiw">
					  <li>Messages inside the app</li>
					  <li>E-mail in the product description</li>
					  <li>Via your website/linkedin</li>
					</ol></h5>
				</div>
			</div>
		</div>
		
		
		<br>
		<br>
		<br>
		<br>
		<!--<%= image_tag("howitworks.png") %>
		<%= link_to 'About', about_path %>-->	
	</div>
</section>