<section class="section services cf" id="services">
	<div class="row wrapper">
		<div class="wrapper">
			<br>	
			<div class="service col s3 offset-s1">
				<i class="service-icon fa fa-lock fa-3x blue-text text-accent-3"></i>
				<h3 class="service-title">Safe</h3>
				<br>
				<p class="service-text">Your project are safe and only real investors interested in startups can see them. Lorem ipsum bla bla bla bla.</p>
			</div>

			<div class="service middle col s3">
				<i class="service-icon fa fa-cog fa-3x blue-text text-accent-3"></i>
				<h3 class="service-title">Control</h3>
				<br>
				<p class="service-text">You can control what an investor can see before opening your project or you can let them sign an NDA</p>
			</div>

			<div class="service col s3">
				<i class="service-icon fa fa-globe fa-3x blue-text text-accent-3"></i>
				<h3 class="service-title">Internationality</h3>
				<br>
				<p class="service-text">Connect with thousands of people all around the world to find the best investor without even moving once</p>
			</div>
		</div>
	</div>
</section>