<div class="center">
	<script src="https://donorbox.org/widget.js" type="text/javascript"></script><iframe src="https://donorbox.org/embed/starthia-donation?recurring=true" height="680px" width="100%" style="max-width:500px; min-width:310px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"> <%= link_to 'Back', url_for(:back), class: "btn-back-don btn waves-effect waves-light" %></iframe>
</div>
<div class="left">
	<%= link_to 'Back', url_for(:back), class: "btn-back-don btn-flat white-text" %>
</div>

