<div class="row">
	<div class=" home center">

		<h1 class="blue-text text-accent-3">$ T A R T H I A</h1>
		<h3 class="blue-text text-accent-3">Where Startup meet Investor</h3>

		<br>
		<br>
			
		<%= link_to "For Startup", new_user_registration_path, class: "col l4 offset-l1 btn btn-devise waves-effect waves-light blue accent-3" %>
      	<%= link_to "For Investor", new_user_registration_path, class: "col l4 offset-l2 btn btn-devise waves-effect waves-light blue accent-3" %>

      	<br>
      	<br>
      	<br>
      	<br>

      	<div class="service">
      		<div class="col s4">
	            <div class="icon-block">
	              <h2 class="center blue-text text-accent-3"><i class="fa fa-universal-access"></i></h2>
	              <h5 class="center">Join a community full of people with big ideas</h5>
	              <br>
	              <h6 class="paragraph center">Everyone can join this movement, start chatting with people that think like you and don't forget to share it with your friends.</h6>
	            </div>
		    </div>
	      	<div class="col s4">
		        <div class="icon-block">
	              <h2 class="center blue-text text-accent-3"><i class="fa fa-money"></i></h2>
	              <h5 class="center">Find your new investor and develop your ideas</h5>
	              <br>
	              <h6 class="paragraph center">Start to think like us and get ready to change the world to a better one.</h6>
	            </div>
	      	</div>
		    <div class="col s4">
		        <div class="icon-block">
	              <h2 class="center blue-text text-accent-3"><i class="fa fa-rocket"></i></h2>
	              <h5 class="center">Invest in the next money maker startup</h5>
	              <br>
	              <h6 class="paragraph center">Already al lot of people change their mind, now it's your turn. Join us for free forever.</h6>
	            </div>
	            <br>
		      	<br>
	      	</div>
      	</div>

      	<div class="back-to-top">
      		<a class="btn-floating btn-large waves-effect waves-light blue accent-3 right" href="#top"><i class="fa fa-arrow-up"></i></a>
      	</div>
	</div>
</div>