<div class="center">
	<h1>S T A R T H I A</h1>
	<h3>Where Startup meet Investor</h3>

	<br>
	<br>

	<div class="row">
		<%= link_to "For Startup", new_user_registration_path, class: "col l4 offset-l1 btn btn-devise" %>
      	<%= link_to "For Investor", new_user_registration_path, class: "col l4 offset-l2 btn btn-devise" %>
	</div>
</div>