<div class="row">
  <div class="col l6 offset-l3">
    <div class="panel-log">
      <h4 class="blue-text text-accent-3 center">Log in</h4>
      <br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <br>
        <% end -%>
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-devise waves-effect waves-light blue accent-3" %>
        </div>
        <br>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div> 
</div>


