@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.service {
  background-color: #bdbdbd;
} 

.btn-devise {
	width: 100%;
}

/* label color */
.field {
 color: #2979ff;
}
/* label underline focus color */
.field input[type=text]:focus {
 border-bottom: 1px solid #2979ff;
 box-shadow: 0 1px 0 0 #2979ff;
}
.field input[type=email]:focus {
 border-bottom: 1px solid #2979ff;
 box-shadow: 0 1px 0 0 #2979ff;
}
.field input[type=password]:focus {
 border-bottom: 1px solid #2979ff;
 box-shadow: 0 1px 0 0 #2979ff;
}
.field input[type=number]:focus {
 border-bottom: 1px solid #2979ff;
 box-shadow: 0 1px 0 0 #2979ff;
}

.image-field {
  color: red;
}

.error {
	color: red;
}

.title {
	font-weight: bold;
	font-size: 250%;
}

.panel {
  border-style: solid;
  border-color: #2979ff #2979ff #2979ff #2979ff;
  padding: 10px 0px 50px 10px;
  border-radius: 25px;
}

.panel-reg {
  border-style: solid;
  border-color: #2979ff #2979ff #2979ff #2979ff;
  padding: 10px 10px 50px 10px;
  border-radius: 25px;
}

.panel-log {
  border-style: solid;
  border-color: #2979ff #2979ff #2979ff #2979ff;
  padding: 10px 10px 50px 10px;
  border-radius: 25px;
}

.textholder {
	border-radius: 25px;
	background-color: red;
	padding: 1px;
}

.info {
	font-weight: bold;
}

.card-image img {
max-height: 100%;
}

.btn {
  border-radius: 25px;
}

.pagination li.active {
    background-color: #ffffff;
}

.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
  width: 30px;
}

.pagination li i {
    font-size: 0rem;
}

a {
  color: #2979ff;
}