<footer class="">
  <div class="blue-text text-accent-3">
    <p class="center"><span class="left cprt">&copy; 2016 - <%= Date.today.year %> Starthia</span><span class="right abt"><a href="" target="_blank"><i class="fa fa-social fa-facebook-official" aria-hidden="true"></i></a><a href="" target="_blank"><i class="fa fa-social fa-twitter-square" aria-hidden="true"></i></a><%= link_to '	/	Donate', donation_path, class: "" %></span></p>
  </div>
</footer>