<footer class="page-footer white">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s4 blue-text text-accent-3">
          © 2016 $TARTHIA
        </div>
        <div class="col s4 blue-text text-accent-3 center">
          Social
        </div>  
        <div class="col s4">
          <%= link_to 'About', about_path, class: "blue-text text-accent-3 right" %>
        </div>
        <div>Icons made by <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </div>
  </div>
</footer>