<!DOCTYPE html>
<html>
<head>
  <title>Starthia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>

<%= render "layouts/header" %>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<main class="container">
	<%= yield %>
</main>

<%= render "layouts/footer" %>

</body>
	<script>
		$(".button-collapse").sideNav();
	</script>
</html>
